<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- this is where we refer the css file from src/main/resources/static/main.css -->
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>

<div class="flex flex-row fixed bottom-0 left-0 right-0 bg-gray-800 text-white p-4 justify-center" th:fragment="footer">
    <form action="">
        <label for="test">Kod poszlaki:</label>
        <input class="text-black w-16 mr-12" type="text" id="test" name="test">
        <input class="bg-red-500 p-2 rounded-md" type="submit" value="Odblokuj">
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>